services:
    app:
        build: .
        ports:
            - '3000:3000'
        volumes:
            - .:/usr/src/app
        environment:
            - DB_HOST=postgres
            - MONGO_URI=mongodb://mongodb:27017/auth_db
        depends_on:
            - postgres
            - mongodb

    postgres:
        image: postgres:15
        environment:
            POSTGRES_DB: smartnx_db
            POSTGRES_PASSWORD: password
        ports:
            - '5432:5432'

    mongodb:
        image: mongo:latest
        ports:
            - '27017:27017'
